@model ToDoApplication.Models.ToDo

@{
}

<form class="d-flex" asp-controller="ToDo", asp-action="Search">
    <input class="form-control me-sm-2" asp-for="Name" placeholder="Search By Name or Date ">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>